@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@font-face {font-family:"hn"; src:url(./fonts/hn-regular.woff) format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family:"hn"; src:url(./fonts/hn-bold.woff) format('woff'); font-weight: bold; font-style: normal;}

#tinymce {font-family: "hn", monospace; font-weight: normal; font-size: 18px; line-height: 30px; letter-spacing: 0; color: #000;}
#tinymce > div,
#tinymce > ul,
#tinymce > pre,
#tinymce > h1,
#tinymce > h2,
#tinymce > p {box-sizing: border-box; margin: 30px 0; padding: 0; letter-spacing: 0;}
#tinymce li {display: block; margin: 0 0 0 24px;}
#tinymce li:before {content:"-"; display: inline-block; text-align: left; width: 24px; margin-left: -24px;}


#content-title {margin: 60px 30px; text-align: center; font-weight: bold; font-size: 48px; line-height: 60px;}
#content-title:before {content: "\f10d"; font-family: "FontAwesome"; font-size: 36px; display: block; text-align: left;}
#content-title:after {content: "\f10e"; font-family: "FontAwesome"; font-size: 36px; display: block; text-align: right;}
#content-desc {margin: 30px 0; text-align: right;}

#tinymce h2 {font-size: 24px; font-weight: bold; line-height: 30px; margin: 30px 0; padding-top: 30px;}
#tinymce h2:before {content: "\25b6\00a0"; font-family: "FontAwesome"; font-weight: bold; position: relative; top: 100%; bottom: 2px;}
#tinymce p:not([class]), #tinymce p[class=""] {font-weight: normal; line-height: 30px;}

#tinymce a,
#tinymce a:visited,
#tinymce a:active,
#tinymce a:hover {text-decoration: none; font-weight: bold; color: rgb(65, 105, 225); background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(65,105,255,.3) 0);}

#tinymce b,
#tinymce strong {font-weight: bold; color: rgb(255, 69, 0); background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(255, 69, 0,.3) 0);}

#tinymce img {vertical-align: bottom; display: block; margin: 0 auto; max-width: 100%; height: auto;} /* img 여분의 공백 없애기 */

#tinymce ul,
#tinymce li {list-style: none;}

#tinymce .cap,
#tinymce .caption {font-size: 14px; font-weight: normal; color: #666; line-height: 20px; text-align: center; margin: -30px 0 30px 0;}

#tinymce .ref,
#tinymce .img,
#tinymce .info,
#tinymce .q,
#tinymce .file,
#tinymce .warn,
#tinymce .link {color: #333; border-left: 5px solid #666; background-color: #f0f0f0; padding: 5px 5px 5px 10px;}

#tinymce .img {text-align: center;}


#tinymce pre {font-family: "hn", monospace; font-weight: normal; font-size: 18px; line-height: 30px; letter-spacing: 0; overflow-x: auto; margin: 30px 0; padding: 30px 5px 5px 10px; position: relative; background: #F0F0F0; border-left: 5px solid #666;}
#tinymce code {font-family: "hn", monospace; font-size: 18px; line-height: 30px; letter-spacing: 0;}
#tinymce p > code {display: inline; background-color: #F0f0f0; margin: 0; padding: 0; border: none;}
#tinymce pre > code {display: block; overflow-x: auto; padding: 0.5em; background: #F0F0F0;}
#tinymce .code {background-color: #ddd;}

#tinymce .cp_embed_wrapper {margin: 30px 0;}

#tinymce pre:before {position: absolute; top: 0; text-align: center; content: "language: ";color: #666;}
#tinymce pre:after {position: absolute; top: 0; left: 112px; text-align: center; content: attr(class);color: #666;}

#tinymce pre.python:before,
#tinymce pre.python:after {color: rgb(255,69,0);}

#tinymce pre.javascript:before,
#tinymce pre.javascript:after,
#tinymce pre.html:before,
#tinymce pre.html:after,
#tinymce pre.css:before,
#tinymce pre.css:after {color: rgb(65, 105, 225);}

#tinymce pre.excel:before,
#tinymce pre.excel:after,
#tinymce pre.vba:before,
#tinymce pre.vba:after {color: rgb(61, 139, 61);}

.vlp-link-container {padding: 5px !important;}
.vlp-link-image-container img {width: auto !important; height: 100px !important;}
.vlp-link-text-container {height: 100px; overflow: hidden;}
.vlp-link-title {line-height: 1.3 !important;}